@page
@model GTERP.Areas.Identity.Pages.Account.ConfirmedModel
@{
    ViewData["Title"] = "Password Changed";
}


<div class="container-fluid text-center">

    <br />
    <br />
    <br />

    <h2><img src="https://www.kindpng.com/picc/m/57-570415_green-tick-icon-png-free-download-searchpng-graphic.png" height="120" width="120" /> @ViewData["Title"]</h2>

    <br />

    <h5>
        Your password has been changed successfully
    </h5>

    <br />
    <br />
    <br />
    <center>

        <div class="col-md-4">
            <div>
                <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">Go for login</a>
            </div>
        </div>

    </center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

